/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Raleway:ital,wght@1,500&display=swap');

:root {

    /*---------- TYPOGRAPHY ----------*/
  
    --header-text: 'Montserrat', sans-serif;
    --content-text: 'Raleway', sans-serif;
  
  
    /*---------- COLOURS ----------*/
  
    --base-color: #8CB567;
    --grad1-color: #08823F;
    --secondary-color: #EFF0F2;
    --accent-color: #E28C1B;
    --heart-color: #EB4C42;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --content-border:#CED4DA; 
}



body {
    background-color: var(--secondary-color);
    font-family: var(--content-text);
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-text);
    color: var(--black-color);
 }



/*---------- HEADER ----------*/
.navbar {
    font-size: 14px;
    font-family: var(--header-text);
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: var(--base-color) !important;
    padding: 20px 20px;
    z-index:999;
  }
  
  .navbar-brand {
    font-size: 2rem;
    font-family: var(--header-text);
  }
  
  .nav-link {
    font-size: 20px;
    font-family: var(--content-text);
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: var(--black-color);
    padding-left: 20px;
  }
  
  .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--white-color);
  }


.thin {
    font-weight: 300;
}

/*---------- BODY ----------*/
.card {
    border: none 2px;
    background-color: var(--base-color);
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--accent-color);
}

.author {
    color: var(--white-color);
    margin: 4px;
    text-transform: uppercase;
}

.card-text {
    color: var(--black-color)!important;
}

.m-4 {
    list-style-type: none;
}

.dropdown-item:hover {
    background-color: var(--base-color)!important;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--base-color);
    color: var(--white-color);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: var(--base-color);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: var(--base-color);
}

.post-link:hover,
.page-link {
    color: var(--white-color);
    background-color: var(--grad1-color);
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: var(--black-color);
}

.btn-signup {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--white-color);
    color: var(--accent-color);
}

.link {
    color: var(--accent-color);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--base-color);
    text-decoration: underline;
}

.btn-like {
    color: var(--heart-color);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--heart-color);
    background: transparent;
    border: none;
}


/*---------- FOOTER ----------*/

footer {
    margin-top: auto;  
    width:100%;
    color: var(--black-color);
    background: var(--base-color) !important;
}
  
  #footer-external-links> a {
    text-decoration: none;
    color: var(--grad1-color);
}
  
  #footer-external-links> a:hover {
    color: var(--white-color);
}  

#id_content {
     width: 2300px !important;
     border: 1px solid var(--content-border) !important;
}

/*----Flyer Message----*/

.message-container{
    position: absolute;
    right: 30px;
    top: 50px;
    padding-top: 5%;
}

.message-container .box{
    background: var(--accent-color);
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 15px 25px 15px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.message-container .box i{
    position: absolute;
    right: 15px;
    top: 10px;
    color: var(--content-border);
    cursor: pointer;
}
  
.message-container i:hover{
    color: var(--white-color);
}
  
.box .right{
    display: flex;
    flex-direction: column;
}
  
.box .right .text-1{
    font-size: 18px;
    font-weight: 600;
    color: var(--black-color);
}

.box .right .text-2{
    font-size: 14px;
    color: var(--black-color);
    margin: 2px 0 8px 0;
  }
  
.message-container #hide{
    display: none;
} 


@media screen and (max-width: 850px) {
    #id_content {
        width: 720px !important;
    }

}

@media screen and (max-width: 500px) {

    #id_content {
        width: 320px !important;
    }

    .masthead {
        height: auto !important;
    }
 
}