/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Raleway:ital,wght@1,500&display=swap');

:root {

    /*---------- TYPOGRAPHY ----------*/
  
    --header-text: 'Montserrat', sans-serif;
    --content-text: 'Raleway', sans-serif;
  
  
    /*---------- COLOURS ----------*/
  
    --base-color: #8CB567;
    --grad1-color: #3E6934;
    --secondary-color: #EFF0F2;
    --accent-color: #E28C1B;
    --white-color: #FFFFFF;
    --black-color: #000000;
}



body {
    background-color: var(--secondary-color);
    font-family: var(--content-text);
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-text);
    color: var(--black-color);
 }



/*---------- HEADER ----------*/
.navbar {
    font-size: 14px;
    font-family: var(--header-text);
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: var(--base-color) !important;
    padding: 20px 20px;
    z-index:999;
  }
  
  .navbar-brand {
    font-size: 2rem;
    font-family: var(--header-text);
  }
  
  .nav-link {
    font-size: 20px;
    font-family: var(--content-text);
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: var(--black-color);
    padding-left: 20px;
  }
  
  .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--white-color);
  }


.thin {
    font-weight: 300;
}

.card {
    border: none 2px;
    background-color: var(--base-color);
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--accent-color);
}

.author {
    color: var(--white-color);
    margin: 4px;
    text-transform: uppercase;
}

.card-text {
    color: var(--grad1-color)!important;
}


.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--base-color);
    color: var(--white-color);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: var(--base-color);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: var(--base-color);
}

.post-link:hover,
.page-link {
    color: var(--accent-color);
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: var(--grad1-color);
}

.btn-signup {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--white-color);
    color: var(--accent-color);
}

.link {
    color: var(--accent-color);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--base-color);
    text-decoration: underline;
}

.btn-like {
    color: var(--accent-color);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--accent-color);
    background: transparent;
    border: none;
}


/*---------- FOOTER ----------*/

footer {
    margin-top: auto;  
    width:100%;
    color: var(--white-color);
    background: var(--base-color) !important;
}
  
  #footer-external-links> a {
    text-decoration: none;
    color: var(--black-color);
}
  
  #footer-external-links> a:hover {
    color: var(--white-color);
}  