{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
     <!-- Page title -->
    <title>VegansJournal Blog</title>

        <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
        content="Welcome to Vegan's Journal! This site is your hub for vegan community to share, explore and desgin your life around vegan values.">
    <meta name="keywords"
        content="Vegan, vegan's, journal, blog, plant-based, healthy, the vegan, recipes, food, travel">
    
     <!--Favicon, static css and bootstrap -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/17e4dc5f3c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="icon" type="image/xicon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    

</head>

<body class="d-flex flex-column h-100">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <!--Site logo-->
                <img class="rounded float-start"
                src="https://res.cloudinary.com/dnt4yopv8/image/upload/v1647452499/logo_2_vdavwm.jpg"
                alt="Site Logo VJ">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'home' %} active {% endif %}"  aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <!--Code for Category Menu-->
                    {% if cat_menu %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for item in cat_menu %}
                            <li><a class="dropdown-item {% if request.resolver_match.url_name == 'category' %} active {% endif %}" href="{% url 'category' item|slugify %}">
                             {{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                      {% else %}
                      
                      <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'category_list' %} active {% endif %}" href="{% url 'category_list' %}">Categories</a>
                      </li>

                      {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Add
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">
                                 <a class="dropdown-item" href="{% url 'add_post' %}">Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" href="{% url 'add_category' %}">Category</a>
                            </li>
                        </ul>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'account_logout' %} active {% endif %} " href="{% url 'account_logout' %}">Logout</a>
                        </li>                         
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'account_signup' %} active {% endif %}" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'account_login' %} active {% endif %}" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> 
                       <a class="nav-link" href="#">{{ user.username|title }}
                       </a>
                    </li>
                </ul>
                {% endif %}
                <!-- Search bar -->
                <form class="d-flex" method="POST" action="{% url 'search_blog' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search or jump to..." aria-label="Search"
                        name="searched">
                    <button class="btn btn-success" type="submit">Search
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <!-- Copyright -->
        <p class="m-0 text-center">&copy; Vegan's Journal 2022</p>
        <p class="m-0 text-center " id="footer-external-links">Follow us: 
            <a href="https://www.facebook.com/" aria-label="Visit our Facebook page" rel="noopener" target="_blank"><i
                class="fab fa-facebook-square ms-3"><span class="visually-hidden">Facebook</span></i></a>
            <a href="https://www.twitter.com/" aria-label="Visit our Twitter page" rel="noopener" target="_blank"><i
                    class="fab fa-twitter-square ms-3"><span class="visually-hidden">Twitter</span></i></a>
            <a href="https://www.instagram.com/" aria-label="Visit our Instagram page" rel="noopener" target="_blank"><i
                    class="fab fa-instagram ms-3"><span class="visually-hidden">Instagram</span></i></a>
            <a href="https://www.youtube.com/" aria-label="Visit our YouTube page" rel="noopener" target="_blank"><i
                    class="fab fa-youtube ms-3"><span class="visually-hidden">Youtube</span></i></a>
        </p>
    </footer>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);
    </script>
</body>

</html>